/* GLOBAL */
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
  url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
  url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root{
  --color-txt:  #242A45;
  --red-clr: #FA5959;
  --blue-clr: #5267DF;
}

html{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial",sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  background-color: #fff;
  color: var(--color-txt);
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  width: 100%;
  max-width: 1204px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.main-content{
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* BUTTON */
.button,
.button-primary,
.contact-button {
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border: 2px solid transparent;
  border-radius: 5px;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
}

.button {
  padding: 12px 32px 11px 34px;
  text-transform: uppercase;
  background-color: var(--red-clr);
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
}

.contact-button {
  padding: 8px 22px;
  font-size: 14px;
line-height: 28px;
  letter-spacing: 0.25px;
  background-color: var(--red-clr);
}

.button:hover,
.contact-button:hover{
  background-color: #fff;
  border-color: var(--red-clr);
  color: var(--red-clr);
}

.button:active,
.contact-button:active{
  opacity: 0.6;
}

.button-primary{
  padding: 8px 22px;
  background-color:var(--blue-clr);
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
}

.button-download{
  padding-left: 34px;
  padding-right: 33px;
}

.button-grey{
  background-color: #F7F7F7;
  color: var(--color-txt);
  opacity: 0.75;
  margin-left: 24px;
}

.button-grey:hover,
.button-primary:hover{
  background-color: #fff;
}

.button-primary:hover{
  border-color: var(--blue-clr);
  color: var(--blue-clr);
}

.button-grey:hover{
  border-color: #5B6074;
  color: var(--color-txt);
  opacity: 0.75;
}

.button-primary:active{
  opacity: 0.6;
}

*:focus{
  outline: 2px dashed var(--red-clr);
  outline-offset: 3px;
}

/* SITE-HEADING-TEXT */
.site-header-text-wrapper{
  max-width: 540px;
  width: 100%;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
}

.site-text {
  opacity: 0.5;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}
/* SITE-HEADER */

.site-header {
  padding-top: 48px;
  padding-bottom: 45px;
}

.site-header-container {
  display: flex;
  align-items: center;
}

.logo-link {
  color: var(--color-txt);
  display: block;
  margin-right: auto;
}

.logo-img {
  display: block;
  width: 149px;
  height: 25px;
  object-fit: cover;
  flex-shrink: 0;
}

.site-nav {
  margin-right: 48px;
}

.site-nav-lists {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.site-nav-item:not(:last-child){
  margin-right: 44px;
}

.site-nav-link{
  display: block;
  white-space: nowrap;
  text-decoration: none;
  color: var(--color-txt);
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.site-nav-link:hover{
  color: var(--red-clr);
}

.site-nav-link:active{
  opacity: 0.6;
}

/* SITE-HERO */
.site-hero {
  padding-top: 140px;
  padding-bottom: 123px;
  background-image: url("../img/bookmark-manager.svg"),
  url("../img/Rectangle.png");
  background-repeat: no-repeat;
  background-position: left calc(50% + 350px) bottom 40px,
  left calc(50% + 700px) bottom;
}

.site-hero-content {
  max-width: 540px;
  width: 100%;
}

.site-hero-header {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
}

.site-hero-text {
  opacity: 0.5;
  margin-top: 0;
  margin-bottom: 32px;
}

/* SITE-FEATURES */
.site-features {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("../img/Rectangle.png");
  background-repeat: no-repeat;
  background-position: left calc(50% - 700px) bottom;
}

.site-features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-feaures-info {
  max-width: 445px;
  width: 100%;
}

.site-features-info-header {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
}

.site-features-info-text {
  margin-top: 0;
  margin-bottom: 32px;
  opacity: 0.5;
}

.features-navbtn {
  display: flex;
  justify-content: center;
  margin-bottom: 73px;
}

.feaatures-navbtn-wrap {
  max-width: 243px;
  width: 100%;
  padding: 0 10px 25px;
  text-align: center;
  border-bottom: 1px solid rgba(73, 93, 207, 0.20012);
}

.features-navbtn-active{
  border-bottom: 4px solid var(--red-clr);
}

.features-navbtn-active .features-button{
  opacity: 1;
}

.features-navbtn-active .features-button:hover{
  color: var(--color-txt);
}

.features-navbtn-active .features-button:active{
  opacity: 1;
}

.features-button {
  padding: 2px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.5px;
  color: var(--color-txt);
  mix-blend-mode: normal;
  opacity: 0.75;
  cursor: pointer;
}

.features-button:hover{
  color: var(--red-clr);
}

.features-button:active{
  opacity: 0.6;
}

.features-slide {
  display: flex;
  align-items: center;
}

.features-slide-img{
  display: block;
  width: 536px;
  height: 393px;
  object-fit: contain;
  margin-right: 125px;
}

.features-slide-content {
  max-width: 445px;
  width: 100%;
}

.features-slide-header {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
}

.features-slide-text {
  margin-top: 0;
  margin-bottom: 32px;
  opacity: 0.5;
}

.download {
  padding-top: 149px;
  padding-bottom: 149px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download-content {
  margin-bottom: 48px;
}

.download-extension {
  display: flex;
}

.download-extension-card {
  max-width: 280px;
  padding: 49px 24px 24px;
  background-image: url("../img/shapes.svg");
  background-repeat: no-repeat;
  background-position: left bottom 96px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
  border-radius: 15px;
}

.download-extension-card:not(:last-child){
  margin-right: 34px;
}

.download-extension-card:nth-child(2){
  transform: translateY(40px);
}

.download-extension-card:nth-child(3){
  transform: translateY(80px);
}

.download-extension-img {
  width: 105px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 32px;
}

.download-extension-header {
  margin-top: 0;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.25px;
}

.download-extension-text {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 15px;
  line-height: 28px;
  opacity: 0.5;
}

/* QUESTION */
.questions {
  max-width: 540px;
  width: 100%;
  margin-bottom: 149px;
  margin-right: auto;
  margin-left: auto;
}

.question-content {
  margin-bottom: 56px;
}

.questions-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.questions-lists {
  max-width: 540px;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
  list-style: none;
}

.questions-item {
  padding-top: 19px;
  padding-bottom: 13px;
  border-top: 1px solid rgba(36, 42, 69, 0.15);
}

.questions-item:last-child{
  border-bottom: 1px solid rgba(36, 42, 69, 0.15);
}

.question {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.question:hover{
  color: var(--red-clr);
}
/* ACTIVE */
.question-active{
  margin-bottom: 32px;
  color: var(--red-clr);
}

.question-active .down-button{
  color: var(--red-clr);
  transform: rotate(180deg);
}

.question-text {
  margin: 0;
  margin-right: auto;
  font-size: 18px;
  line-height: 32px;
}

.down-button {
  border: none;
  color: var(--blue-clr);
  background-color: transparent;
  cursor: pointer;
}

.down-img {
  width: 20px;
  height: 13px;
  object-fit: cover;
}

.answer-text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.15px;
  opacity: 0.75;
}

.contact {
  padding-top: 58px;
  padding-bottom: 74px;
  color: #fff;
  background-color: var(--blue-clr);
  text-align: center;
}

.contact-container{
  max-width: 480px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.contact-joined {
  font-weight: 500;
font-size: 13px;
line-height: 40px;
letter-spacing: 5px;
margin-top: 0;
margin-bottom: 24px;
}

.contact-header {
  margin-top: 0;
  margin-bottom: 36px;
  font-weight: 500;
font-size: 32px;
line-height: 40px;
letter-spacing: -0.1px;
}

.email-field {
  max-width: 300px;
  width: 100%;
  padding: 10px 20px;
  letter-spacing: 0.25px;
  font-size: 14px;
  line-height: 28px;
  border-radius: 5px;
  border: none;
  margin-right: 16px;
}

.site-footer {
  padding-top: 32px;
  padding-bottom: 31px;
  background-color: #242A45;
  --color-txt: #fff;
}

.site-footer-container {
  display: flex;
  align-items: center;
}

.footer-logo-link{
  margin-right: 65px;
}

.footer-site-nav{
  margin-right: auto;
}

.social-lists {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.social-item:not(:last-child){
  margin-right: 40px;
}

.social-link {
  display: block;
  color: #fff;
  cursor: pointer;
}

.social-link:hover{
  color: var(--red-clr);
}

.social-link:active{
  opacity: 0.6;
}

.social-img {
  display: block;
  object-fit: cover;
  width: 24px;
  height: 24px;
}